@media only screen and (min-width : 1324px)and (max-width : 1423px) {
    .amen {

        text-align: center;
        margin-left: 25px;
    }

    .menu {
        text-align: center;

    }

    .menu .amen {
        margin-top: 0px;
    }

    #menua {
        margin-left: 450px;
    }

    #slide1h1 {
        margin-left: 440px;
    }

    .sliderp {
        margin-left: 460px;
    }

    #slide1but1 {
        margin-left: 495px;
    }

    #slide1but2 {
        margin-left: 700px;
    }

    #slide2h1 {
        margin-left: 460px;
        margin-top: 10px;
    }

    #slide2rpchange {
        margin-top: 15px;
        margin-left: 470px;
    }

    #slide2but1 {
        margin-left: 610px;
    }

    #slide3h1 {
        margin-left: 400px;
    }

    #slide3but1 {
        margin-left: 500px;
    }

    #slide3but2 {
        margin-left: 700px;
    }

    #About {
        margin-top: 20px;
        margin-left: 25px;
    }

    #About3 {
        float: none;
    }

    #About a {
        margin-left: 130px;
    }

    #About p {
        margin-left: 45px;
    }

    .img-about {
        margin-left: 130px;
    }

    #sp1 {
        width: 25%;
        margin-left: 120px;
    }

    #sp2 {
        width: 25%;
        margin-left: 60px;
    }

    #sp3 {
        width: 25%;
        margin-left: 60px;
    }

    #sp4 {
        width: 25%;
        margin-left: 120px;
    }

    #sp5 {
        width: 25%;
        margin-left: 60px;
    }

    #sp6 {
        width: 25%;
        margin-left: 60px;
    }

    #prt1 {
        margin-left: 0;
    }

    #prt3 {
        margin-left: 0px;
        margin-right: 0;
    }

    #prt4 {
        margin-right: 0;
        margin-left: 0;
    }

    #prt5 {
        margin-left: 0px;
    }

    #prt6 {
        margin-left: 0px;
    }

    #but-port {
        margin-left: 400px;
    }

    .activeprtx4pb {
        margin-left: 0px;
    }

    .h1-zagolovok {
        font-size: 38px;
    }

    div#features1 {
        width: 25%;
        margin-left: 165px;
    }

    div#features2 {
        width: 25%;

    }

    div#features3 {
        width: 25%;
    }

    div#features4 {
        width: 25%;
        margin-left: 165px;
    }

    div#features5 {
        width: 25%;
    }

    div#features6 {
        width: 25%;
    }

    div#stat1 {
        margin-left: 200px;
    }

    div#team1 {
        margin-left: 70px;
    }

    div#team2 {
        margin-left: 70px;
    }

    div#team3 {
        margin-left: 70px;
    }

    div#pricing1 {
        margin-left: 97px;
    }

    div#pricing2 {
        margin-left: 97px;
    }

    div#pricing3 {
        margin-left: 97px;
    }

    .slider2img {
        margin-left: 46%;
    }

    .fpt {
        margin-left: 45%;
    }

    #div2 {
        margin-left: 155px;
    }

    #div3 {
        margin-left: 200px;
    }

    #Portfolio {
        margin-left: 45px;
    }

    .activeprtx4pb2 {
        margin-left: 30px;
    }

    .activeprtx32 {
        margin-right: 0px;
    }

    .activeprtx3pb2 {
        margin-left: 0px;
    }

    #form-marg {
        margin-top: 200px;
    }

    .a-last {
        margin-left: 75px;
        float: left;
    }

    #cont-a {
        margin-left: 50px;
        margin-right: 0px;

    }

    .activeprtxpb {
        margin-left: 0px;
    }

    .proba {
        margin-left: 0px;
    }

    .picture1 {
        margin-left: 125px;
    }

}























