@media only screen and (min-width : 1724px)and (max-width : 1919px) {
    .amen {
        text-align: center;

    }
    .menu {
        text-align: center;

    }
    .menu .amen {
        margin-top: 0px;
    }

    #menua {
        margin-left: 850px;
    }

    #slide1h1 {
        left:11%;
    }

    .sliderp {
        left:11%;
    }

    #slide1but1 {
        left:11%;
    }

    #slide1but2 {
        left:12%;
    }

    #slide2h1 {
        left:11%;
        margin-top: 10px;
    }

    #slide2rpchange {
        margin-top: 15px;
        left:11%;
    }

    #slide2but1 {
        left:11%;
    }

    #slide3h1 {
        left:11%;
    }

    #slide3but1 {
        left:11%;
    }

    #slide3but2 {
        left:12%;
    }

    #About {
        margin-top: 25px;
    }

    #About3 {
        float: none;
    }

    #About a {
        margin-left: 220px;
    }

    #About p {
        margin-left: 140px;
    }

    .img-about {
        margin-left: 220px;
    }

    #sp1 {
        width: 25%;
        margin-left: 190px;
    }

    #sp2 {
        width: 25%;
        margin-left: 95px;
    }

    #sp3 {
        width: 23%;
        margin-left: 95px;
    }

    #sp4 {
        width: 24.5%;
        margin-left: 195px;
    }

    #sp5 {
        width: 25%;
        margin-left: 95px;
    }

    #sp6 {
        width: 25%;
        margin-left: 95px;
    }

    #prt1 {
        margin-left: 0;
    }

    #prt3 {
        margin-left: 0px;
        margin-right: 0;
    }

    #prt4 {
        margin-right: 0;
        margin-left: 0px;
    }

    #prt5 {
        margin-left: 0px;
    }

    #prt6 {
        margin-left: 0px;
    }

    #but-port {
        margin-left: 630px;
    }

    .activeprtx4pb {
        margin-left: 0px;
    }

    .h1-zagolovok {
        font-size: 38px;
    }

    div#features1 {
        width: 26%;
        margin-left: 260px;
    }

    div#features2 {
        width: 26%;

    }

    div#features3 {
        width: 26%;
    }

    div#features4 {
        width: 26%;
        margin-left: 260px;
    }

    div#features5 {
        width: 26%;
    }

    div#features6 {
        width: 26%;
    }

    div#stat1 {
        margin-left: 350px;
    }

    div#team1 {
        margin-left: 194px;
    }

    div#team2 {
        margin-left: 194px;
    }

    div#team3 {
        margin-left: 194px;
    }

    div#pricing1 {
        margin-left: 215px;
    }

    div#pricing2 {
        margin-left: 215px;
    }

    div#pricing3 {
        margin-left: 215px;
    }

    .slider2img {
        margin-left: 46%;
    }

    .fpt {
        margin-left: 45%;
    }

    #div2 {
        margin-left: 220px;
    }

    #div3 {
        margin-left: 255px;
    }
    #div4 {
        margin-left: 330px;
    }

    #Portfolio {
        margin-left: 45px;
    }

    .activeprtx4pb2 {
        margin-left: 30px;
    }

    .activeprtx32 {
        margin-right: 0px;
    }

    .activeprtx3pb2 {
        margin-left: 0px;
    }

    #form-marg {
        margin-top: 200px;
    }

    .a-last {
        margin-left: 150px;
        float: left;
    }

    #cont-a {
        margin-left: 310px;
        margin-right: 0px;

    }

    .activeprtxpb {
        margin-left: 0px;
    }



    .picture1 {
        margin-left: 430px;
    }


}
