@media only screen and (min-width : 1424px)and (max-width : 1523px) {
    .amen {

        text-align: center;
        margin-left: 35px;
    }

    .menu {
        text-align: center;

    }

    .menu .amen {
        margin-top: 0px;
    }

    #menua {
        margin-left: 500px;
    }

    #slide1h1 {
        margin-left: 450px;
    }

    .sliderp {
        margin-left: 480px;
    }

    #slide1but1 {
        margin-left: 515px;
    }

    #slide1but2 {
        margin-left: 720px;
    }

    #slide2h1 {
        margin-left: 470px;
        margin-top: 10px;
    }

    #slide2rpchange {
        margin-top: 15px;
        margin-left: 490px;
    }

    #slide2but1 {
        margin-left: 620px;
    }

    #slide3h1 {
        margin-left: 420px;
    }

    #slide3but1 {
        margin-left: 530px;
    }

    #slide3but2 {
        margin-left: 720px;
    }

    #About {
        margin-top: 20px;
    }

    #About3 {
        float: none;
    }

    #About a {
        margin-left: 140px;
    }

    #About p {
        margin-left: 55px;
    }

    .img-about {
        margin-left: 140px;
    }

    #sp1 {
        width: 25%;
        margin-left: 135px;
    }

    #sp2 {
        width: 25%;
        margin-left: 65px;
    }

    #sp3 {
        width: 25%;
        margin-left: 65px;
    }

    #sp4 {
        width: 25%;
        margin-left: 135px;
    }

    #sp5 {
        width: 25%;
        margin-left: 65px;
    }

    #sp6 {
        width: 25%;
        margin-left: 65px;
    }

    #prt1 {
        margin-left: 0;
    }

    #prt3 {
        margin-left: 0px;
        margin-right: 0;
    }

    #prt4 {
        margin-right: 0;
        margin-left: 0;
    }

    #prt5 {
        margin-left: 0px;
    }

    #prt6 {
        margin-left: 0px;
    }

    #but-port {
        margin-left: 415px;
    }

    .activeprtx4pb {
        margin-left: 0px;
    }

    .h1-zagolovok {
        font-size: 38px;
    }

    div#features1 {
        width: 25%;
        margin-left: 185px;
    }

    div#features2 {
        width: 25%;

    }

    div#features3 {
        width: 25%;
    }

    div#features4 {
        width: 25%;
        margin-left: 185px;
    }

    div#features5 {
        width: 25%;
    }

    div#features6 {
        width: 25%;
    }

    div#stat1 {
        margin-left: 220px;
    }

    div#team1 {
        margin-left: 60px;
    }

    div#team2 {
        margin-left: 60px;
    }

    div#team3 {
        margin-left: 60px;
    }

    div#pricing1 {
        margin-left: 100px;
    }

    div#pricing2 {
        margin-left: 100px;
    }

    div#pricing3 {
        margin-left: 100px;
    }

    .slider2img {
        margin-left: 45%;
    }

    .fpt {
        margin-left: 44%;
    }

    #div2 {
        margin-left: 155px;
    }

    #div3 {
        margin-left: 200px;
    }

    #Portfolio {
        margin-left: 45px;
    }

    .activeprtx4pb2 {
        margin-left: 30px;
    }

    .activeprtx32 {
        margin-right: 0px;
    }

    .activeprtx3pb2 {
        margin-left: 0px;
    }

    #form-marg {
        margin-top: 200px;
    }

    .a-last {
        margin-left: 75px;
        float: left;
    }

    #cont-a {
        margin-left: 80px;
        margin-right: 0px;

    }

    .activeprtxpb {
        margin-left: 0px;
    }



    .picture1 {
        margin-left: 150px;
    }



}

